.cabecalho {
    position: relative;
    top: 2.2rem;

}

.cabecalho-p {

    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;

}

.cabecalho-p span {
    font-weight: bold;
}