.cabecalho {
    position: relative;
    top: 2.2rem;

}

.cabecalho-p {

    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.cabecalho select {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.3rem;
}

.cabecalho-p div {
    display: flex;
    gap: .4rem;
}

.cabecalho-p p {
    margin-bottom: .3rem;
}

.cabecalho input {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.3rem;
}


.cabecalho button {
    width: fit-content;
    padding: 0.5rem;
    transition: filter .8s;
}

.cabecalho button:hover {
    cursor: pointer;
    filter: brightness(.8);
}

.cabecalho-produtos {
    flex-direction: column;
}

.teste {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 30rem;
    width: 30rem;
}