.cabecalho {
    position: relative;
    top: 2.2rem;

}

.cabecalho-p {

    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;

}

.cabecalho-p span {
    font-weight: bold;
}

.cabecalho button {
    width: fit-content;
    padding: 0.5rem;
    transition: filter .8s;
}

.cabecalho button:hover {
    cursor: pointer;
    filter: brightness(.8);
}